extends ../../layouts/default.pug 

block main

  if product.title
    h1.mb-4 #{product.title}

  if product.price
    .mb-4
      | Giá: 
      b #{product.price}$

  if product.discountPercentage
    .mb-4
      | Giảm giá: 
      b #{product.discountPercentage}%

  if product.stock
    .mb-4
      | Còn lại: 
      b #{product.stock}

  if product.thumbnail
    .mb-4
      img(src=product.thumbnail, style="width: 100px")

  if product.status
    .mb-4
      span Trạng thái: 
      if product.status === 'active'
        span.badge.badge-success Hoạt động
      else
        span.badge.badge-danger Dừng hoạt động

  if product.position
    .mb-4
      | Vị trí: 
      b #{product.position}

  if product.description
    .mb-4 !{product.description}
