extends ../../layouts/default.pug

block main 
  h2 Danh sách sản phẩm
  .row 
    .col-6
      .dropdown.mb-3
        button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Lọc theo trạng thái
        .dropdown-menu
          a.dropdown-item(href="/admin/products") Tất cả 
          a.dropdown-item(href="/admin/products?status=active") Hoạt động 
          a.dropdown-item(href="/admin/products?status=inactive") Dừng hoạt động
    .col-6
      .input-group.mb-3
        input.form-control(type="text", placeholder="Tìm kiếm sản phẩm", aria-label="Recipient's username", aria-describedby="button-addon2", value= searchs)
        .input-group-append
          button.btn.btn-success(type="button", id="button-addon2") Tìm kiếm
  form(action=`/admin/products/change-multi?_method=PATCH`, method="POST", name="form-change-multi")
    .d-flex.align-items-start
      .form-group
        select(name="type", class="form-control")
          option(value="active") Hoạt động
          option(value="inactive") Dừng hoạt động
          option(value="delete") Xóa tất cả
      .form-group
        input(type="text", name="ids", value="", class="form-control")
      button(type="submit", class="btn btn-primary", name='button-change-multi') Áp dụng
  table.table.table-striped
    thead
      tr
        th 
          input(type="checkbox" name='checkall')
        th(scope="col") STT
        th(scope="col") Hình ảnh
        th(scope="col") Tiêu đề
        th(scope="col") Giá
        th(scope="col") Trạng thái 
        th(scope="col") Hành động
    tbody
      each item, index in products
        tr
          td 
            input(type="checkbox" value=item._id name='id')
          td(scope="row") #{index + 1}
          td 
            img(src=item.thumbnail, alt="", srcset="")
          td #{item.title}
          td #{item.price}$
          td
            .btn.status(class=item.classStatus, id-status=item._id) #{item.displayStatus}
          td
            .action 
              .btn.btn-warning Sửa
              .btn.btn-danger.delete(data-id=item._id) Xóa 
  include ../../partials/pagination.pug
  form.change-status(action="", method="POST", data-path='/admin/products')
  form.delete-product(action="", method="POST", data-path='/admin/products')
  script(src="/admin/js/change-status.js")
  