extends ../../layouts/default.pug

block main 
  h2 Danh sách sản phẩm
  .row 
    .col-6
      .dropdown.mb-3
        button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Lọc theo trạng thái
        .dropdown-menu
          a.dropdown-item(href="/admin/products") Tất cả 
          a.dropdown-item(href="/admin/products?status=active") Hoạt động 
          a.dropdown-item(href="/admin/products?status=inactive") Dừng hoạt động
    .col-6
      .input-group.mb-3
        input.form-control(type="text", placeholder="Tìm kiếm sản phẩm", aria-label="Recipient's username", aria-describedby="button-addon2", value= searchs)
        .input-group-append
          button.btn.btn-success(type="button", id="button-addon2") Tìm kiếm
  table.table.table-striped
    thead
      tr
        th(scope="col") STT
        th(scope="col") Hình ảnh
        th(scope="col") Tiêu đề
        th(scope="col") Giá
        th(scope="col") Trạng thái 
        th(scope="col") Hành động
    tbody
      each item, index in products
        tr
          th(scope="row") #{index + 1}
          td 
            img(src=item.thumbnail, alt="", srcset="")
          td #{item.title}
          td #{item.price}$
          td
            .btn(class=item.classStatus) #{item.displayStatus}
          td
            .action 
              .btn.btn-warning Sửa
              .btn.btn-danger Xóa 
  include ../../partials/pagination.pug