extends ../../layouts/layoutDefault.pug

block main 
	h2.title #{'Danh sach san pham'}
	.container 
		.row 
			each product in products
				.col-3
					.product-item
						.inner-product 
							img(src=product.thumbnail, alt="")
							span.inner-title #{product.title}
							span.inner-price #{product.newPrice}$
							span.old-price #{product.price}$
							.inner-discount -#{product.discountPercentage}%
			



